{{extend 'layout.html'}}

<div id="targets">
{{ for target in targets: }}
  <div id="graph{{=target.id}}">
    {{=BEAUTIFY(target)}}
  </div>
  
  <form id="form{{=target.id}}">
    <input id="input{{=target.id}}"/>
  </form>

  <script type="text/javascript"> 
  $('#form{{=target.id}}').submit(function() {
      $.ajax({
            type: "POST",
            url: "/{{=request.application}}/default/target",
            data: "value=" + $('#input{{=target.id}}').val() + "&id={{=target.id}}",
            success: function(html){
              $("#graph{{=target.id}}").html(html);
            }
      });
      return false;
  })
  </script> 

{{pass}}
</div>

